In [18]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt
import matplotlib.pyplot as plt
from dateutil.relativedelta import relativedelta

In [2]:
dji_tickers = [
    'AAPL', 'AMGN', 'AXP', 'BA', 'CAT', 'CRM', 'CSCO', 'CVX', 'DIS', 'DOW',
    'GS', 'HD', 'HON', 'IBM', 'INTC', 'JNJ', 'JPM', 'KO', 'MCD', 'MMM',
    'MRK', 'MSFT', 'NKE', 'PG', 'TRV', 'UNH', 'V', 'VZ', 'WBA', 'WMT'
]

def download_data(tickers, start_date, end_date):
    data = yf.download(tickers, start=start_date, end=end_date)
    return data

start_date = '2022-01-01'
end_date = '2024-10-01'
data = download_data(dji_tickers, start_date, end_date)

[*********************100%***********************]  30 of 30 completed

In [3]:
close_data = data['Adj Close']
close_data

Ticker,AAPL,AMGN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,DOW,...,MRK,MSFT,NKE,PG,TRV,UNH,V,VZ,WBA,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-03 00:00:00+00:00,179.076599,206.158524,161.699936,207.860001,195.060089,254.330933,57.543476,106.186859,155.533218,49.439911,...,71.088356,326.287750,158.935196,151.253021,147.017151,482.886658,216.382172,43.423008,43.733074,46.305843
2022-01-04 00:00:00+00:00,176.803818,207.204361,166.890915,213.630005,205.500992,247.132889,56.132153,108.118965,154.511276,50.778717,...,71.217842,320.692810,160.595291,151.782272,150.084946,471.946075,217.388702,44.275898,44.079243,45.457520
2022-01-05 00:00:00+00:00,172.100861,204.748901,165.112473,213.070007,207.074707,226.663773,55.243206,108.822372,153.975510,50.726555,...,72.947189,308.382141,156.599472,152.469391,150.811768,470.782806,214.984772,44.731323,44.507839,46.072159
2022-01-06 00:00:00+00:00,169.227951,204.776199,166.625549,211.339996,209.185455,228.137222,55.829731,109.748360,155.672119,50.630924,...,72.900940,305.945282,155.431549,151.188049,153.228226,451.516479,214.740479,44.516029,43.222057,45.944107
2022-01-07 00:00:00+00:00,169.395203,206.704178,168.051819,215.500000,211.258575,227.300919,56.022179,111.324333,156.594849,51.378563,...,74.260399,306.101288,151.503326,151.104462,156.918976,440.893188,212.014084,45.454624,44.375969,46.382675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-24 00:00:00+00:00,227.120117,328.294678,265.516205,155.809998,384.548370,270.440002,52.121670,145.961075,93.690002,53.450001,...,114.959999,428.312683,87.459999,172.227402,237.979996,575.190002,272.262390,43.973545,8.278526,80.669998
2024-09-25 00:00:00+00:00,226.121216,310.377930,265.476318,152.220001,376.895874,274.089996,52.250683,142.516205,93.919998,52.840000,...,114.730003,431.246796,88.000000,171.253113,236.320007,576.309998,269.118347,43.865234,8.006781,81.400002
2024-09-26 00:00:00+00:00,227.269958,316.568451,267.451141,154.580002,389.560364,275.760010,52.449162,140.556213,95.199997,54.720001,...,113.089996,430.448395,89.389999,172.197571,236.050003,574.809998,271.174438,43.934158,8.268822,79.919998
2024-09-27 00:00:00+00:00,227.539658,320.110138,270.353546,156.320007,389.679932,276.640015,52.617874,144.020874,96.010002,55.080002,...,113.690002,427.164948,89.440002,172.535583,236.110001,581.849976,274.647858,44.200008,8.792902,79.779999
2024-09-30 00:00:00+00:00,232.743942,319.653748,270.493195,152.039993,389.719788,273.709991,52.816360,145.782898,96.190002,54.630001,...,113.559998,429.440399,88.400002,172.187622,234.119995,584.679993,274.428284,44.219704,8.695849,80.750000

In [4]:
returns = close_data.pct_change()
monthly_returns = returns.resample('M').apply(lambda x: (x + 1).prod() - 1)

In [5]:
index = pd.date_range('1/1/2000', periods=9, freq='T')
series = pd.Series(range(9),index=index)
series

2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int64

In [6]:
series.resample('3T').sum()

2000-01-01 00:00:00     3
2000-01-01 00:03:00    12
2000-01-01 00:06:00    21
Freq: 3T, dtype: int64

In [7]:
# rolling window for the last 6 month return
past_ret = (monthly_returns+1).rolling(6).apply(np.prod)-1

In [8]:
past_ret.index = past_ret.index.tz_localize(None)  # Remove timezone information

In [9]:
# computing the measurement and formation window
measurement_per = dt.datetime(2024,6,30) # all the historial data till this date
formation_period = dt.datetime(2024,7,31) # current month, decision month
measurement_per_cum = past_ret.loc[measurement_per]
measurement_per_cum = measurement_per_cum.reset_index()
measurement_per_cum.head()

  Ticker  2024-06-30 00:00:00
0   AAPL             0.096841
1   AMGN             0.101066
2    AXP             0.243823
3     BA            -0.301734
4    CAT             0.135939

In [10]:
measurement_per_cum['rank'] = pd.qcut(measurement_per_cum.iloc[:,1],5,labels=False) # ranking the stocks from highest to lowest performing group
measurement_per_cum.head()

  Ticker  2024-06-30 00:00:00  rank
0   AAPL             0.096841     2
1   AMGN             0.101066     3
2    AXP             0.243823     4
3     BA            -0.301734     0
4    CAT             0.135939     3

In [11]:
measurement_per_cum.loc[measurement_per_cum.iloc[:,1].idxmax()] # find out the asstet with highest returns upqard trend

Ticker                      WMT
2024-06-30 00:00:00    0.297351
rank                          4
Name: 29, dtype: object

In [12]:
measurement_per_cum.loc[measurement_per_cum.iloc[:,1].idxmin()] # similarly lowest returns for downward trend

Ticker                      WBA
2024-06-30 00:00:00   -0.524785
rank                          0
Name: 28, dtype: object

In [13]:
pd.qcut(series, 5, labels=False)

2000-01-01 00:00:00    0
2000-01-01 00:01:00    0
2000-01-01 00:02:00    1
2000-01-01 00:03:00    1
2000-01-01 00:04:00    2
2000-01-01 00:05:00    3
2000-01-01 00:06:00    3
2000-01-01 00:07:00    4
2000-01-01 00:08:00    4
Freq: T, dtype: int64

In [14]:
measurement_per_cum['rank'] = pd.qcut(measurement_per_cum.iloc[:,1],5,labels=False) # ranking the stocks from highest to lowest performing group
measurement_per_cum.head()

  Ticker  2024-06-30 00:00:00  rank
0   AAPL             0.096841     2
1   AMGN             0.101066     3
2    AXP             0.243823     4
3     BA            -0.301734     0
4    CAT             0.135939     3

In [15]:
long = measurement_per_cum.loc[measurement_per_cum['rank']==4,'Ticker'].values
long  # stocks to long

array(['AXP', 'GS', 'JPM', 'MRK', 'MSFT', 'WMT'], dtype=object)

In [16]:
short = measurement_per_cum.loc[measurement_per_cum['rank']==0,'Ticker'].values
short # stocks to short

array(['BA', 'INTC', 'JNJ', 'MCD', 'NKE', 'WBA'], dtype=object)

In [ ]:
# Strategy performance
long_ret = monthly_returns.loc[formation_period + relativedelta(months=1),monthly_returns.columns.isin(long)] # assessment period
long_ret

KeyError: datetime.datetime(2024, 8, 31, 0, 0)

In [ ]:
short_ret = monthly_returns.loc[formation_period + relativedelta(months=1),monthly_returns.columns.isin(short)]
short_ret

Ticker
BA     -0.088458
INTC   -0.278471
JNJ     0.058720
MCD     0.087641
NKE     0.113011
WBA    -0.202135
Name: 2024-08-31 00:00:00, dtype: float64

In [ ]:
profit = long_ret.mean() - short_ret.mean()
profit

0.09514378649752596

In [ ]:
df_dji = yf.download('^DJI',start=start_date,end=end_date)
df_dji.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,36321.589844,36595.820312,36246.449219,36585.058594,36585.058594,347930000
2022-01-04,36636.000000,36934.839844,36636.000000,36799.648438,36799.648438,435080000
2022-01-05,36722.601562,36952.648438,36400.390625,36407.109375,36407.109375,462040000
2022-01-06,36409.050781,36464.191406,36200.679688,36236.468750,36236.468750,385890000
2022-01-07,36249.589844,36382.839844,36111.531250,36231.660156,36231.660156,356110000

In [ ]:
buy_n_hold = df_dji['Adj Close'].pct_change().resample('M').apply(lambda x: (x + 1).prod() - 1)
buy_n_hold.head()

Date
2022-01-31   -0.039721
2022-02-28   -0.035274
2022-03-31    0.023184
2022-04-30   -0.049055
2022-05-31    0.000391
Freq: M, Name: Adj Close, dtype: float64

In [ ]:
buy_n_hold.loc[formation_period + relativedelta(months=1)] # buy and hold strategy returns

0.017635648275581284